{% extends "template.html" %}
{% block content %}

<main>
    <section class="landing">
        <div class="info">
            <div class="background"></div>
            <h1> THE BEST VIRTIAL ASSISTANT SERVICE IN KENYA</h1>
            <p>An AI-powered service offering quality and affordable services related to administration, finance,
                marketing and customer relations. Any sized enterprise will benefit from our services which free up
                resources, in turn, enable you to focus on what is important.
            </p>
            <button>learn more</button>
        </div>
        <div class="image">
            <img src="../static/images/assistant.png" alt="working man">

        </div>
    </section>

    
</main>

<footer>
    <div class="logo-inf">
        <img class="logo-footer logo" src="/static/images/logo.png" alt="logo-footer" data-at2x="assets/img/logo.png">
        <p>
            We are a young company always looking for new and creative ideas to help you with our products in your everyday work.
        </p>
        <p><a href="#">Our Team</a></p>
    </div>


    <div class="contact-inf">
        <h3>Contact</h3>
        <p><i class="fas fa-map-marker-alt"></i> 65, Gilgil, Nakuru Kenya.</p>
        <p><i class="fas fa-phone"></i> Phone: +254 705 712 308</p>
        <p><i class="fas fa-envelope"></i> Email: <a href="mailto:oneyajanet96@gmail.com">oneyajanet96@gmail.com</a></p>
    </div>


    <div class="follow-inf">
        <h3>Follow us</h3>
            <ul>
                <li><a href="#"><i class="fab fa-facebook fa-2x"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter fa-2x"></i></a></li> 
                <li><a href="#"><i class="fab fa-google-plus-g fa-2x"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram fa-2x"></i></a></li>
                <li><a href="#"><i class="fab fa-pinterest fa-2x"></i></a></li>
            </ul>
            
    </div>

</footer>

{% endblock %}