*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav{
    height: 10vh;
    background: #845fc2;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    flex: 1;

}

.logo img{
    height: 8vh;
    margin-right: 30px;
    margin-left: 20px;
    z-index: 4;
}

.nav-links{
    flex: 2;
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.nav-links li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-links li a:hover{
    border-bottom: 1px solid #faf871;
}


.login-btn{
    padding: 10px;
    background:#ffb964;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-bottom: none !important;
}

.login-btn:hover{
    background-color: #ff5e78;
}

body{
    background-color: #845fc2;
}

main{
    margin-bottom: 5vh;
}

.landing{
    height: 90vh;
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.info{
    display: flex;
    flex-direction: column;
    margin: 20px;
    flex: 2;
    
    
}

.info h1{
    font-weight: 700;
    font-size: 4em;
    color: white;
}

.info p{
    color: white;
}

.info-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 250px;
    height: 40px;
    background: #ff5e79;

    color: white;
    font-size: 1.2em;
    font-weight: 500;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-decoration: none;
}

.image{
    flex: 1;
}


.image img{
    width: 40vw;
    
}

.background{
    display: none;
    background: url("../images/assistant.png");
    
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

footer{
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    margin: auto;
    padding: 20px;
    background:#ff5e78;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
}


footer img{
    height : 5vh;
}

.logo-inf{
    flex: 1;
    margin-right: 20px;
    margin-bottom: 10px;
}

.contact-inf{
    flex: 1;
    
}

.contact-inf a{
    color: #faf871; 
}

.follow-inf {
    flex: 1;
}


.follow-inf ul{
    display: flex;
    list-style: none;
}

.follow-inf ul li{
    margin-right: 20px;
    margin-top: 10px;
}

.follow-inf ul li i{
    color:#faf871;   
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
  }
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(66, 65, 65);
    border-radius: 5px;
  }

/* info */
.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

/* services */
.head{
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 2vh;
    color: white;
}

.services{
    color: white;
    display: flex;
    width: 95%;
    margin: auto;
    padding-top: 5vh;
}

.service{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 70vh;
    justify-content: space-evenly;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    background: #65469b;
    
}
.service-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-icon img{
    height: 30vh;

}


.other-services{
    margin-top: 10vh;
    margin-bottom: 20vh;
    color: white;
    text-align: center;
}

.other-services h1{
    font-size: 40px;
}


@media screen and (max-width: 1400px){
    .info h1{
        font-size: 2.5em;
        margin-top: 20px;
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 1024px){
    .services{
        flex-direction: column;
    }

    .service{
        margin-bottom: 5vh;
    }
}


@media screen and (max-width: 768px){
    .services{
        flex-direction: column;
    }
    .service{
        margin-bottom: 5vh;
        height: 90vh;
    }

    .line{
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
    }

    nav{
        position: relative;
    }

    .hamburger{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
    }
    .nav-links{
        padding-top: 10vh;
        justify-content:flex-start;
        position: fixed;
        background: #8667bb;
        height: 100vh;
        width: 100%;

        flex-direction: column;
        clip-path: circle(1px at 90% -10%);
        -webkit-clip-path: circle(1px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;

        
    }
    .nav-links.open{
        clip-path: circle(1500px at 90% -10%);
        -webkit-clip-path: circle(1500px at 90% -10%);
        pointer-events: all;
    }

    .login-btn {
        border: none;
    }

    main{
        overflow: hidden;
    }

    .landing{
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .nav{
        z-index: 4;
    }


    .nav-links li{
        opacity: 0;
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        text-align: center;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        border: 1px solid rgb(0 0 0 / 10%);

    }

    .nav-links li a{
        font-size: 20px;
        
    }

    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.3s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.5s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.6s;
    }
    li.fade{
        opacity: 1;
    }

    .image img{
        width: 80vw;
    }

    .info h1{
        font-size: 2.4em;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    footer{
        flex-direction: column;
        justify-content: space-between;
        align-items:flex-start;
    }

  
   
}